{% extends "base.html" %}

{% block main %}

<h1 class="page-header">Profile</h1>
   	<div id=dimg>
        <img src="{{ url_for('static', filename='ob1.jpg') }}"> </img>
   	</div>

   	<div id=dinfo>
     	<div id=name>
        	<p><b> {{ name }} </b></p>
    	</div>   	
    	<div id=date>
        	<p>Today's date is {{ date }}</p>
    	</div>

    	<div id=pdetails>
        	<p><b>Username:</b> RichardG</p>
        	<p><b>ID Number:</b> 620018370</p>
        	<p><b>Age:</b> 26</p>
        	<p><b>Gender:</b> Male</p>
    	</div> 
     	<div id=desc>
     	   <p>I am a INFO3180 Student</p>
    	</div>
	</div>

{% endblock %}